USE [AnatoknightStudios]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 5/3/2016 10:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BlogId] [int] NOT NULL,
	[PostDate] [datetime2](7) NOT NULL,
	[PostTitle] [nvarchar](max) NOT NULL,
	[PostContent] [nvarchar](max) NOT NULL,
	[Votes] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AspNetUserId] [nvarchar](128) NULL,
	[PostStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([PostId], [CategoryId], [BlogId], [PostDate], [PostTitle], [PostContent], [Votes], [IsActive], [AspNetUserId], [PostStatus]) VALUES (2, 3, 2, CAST(N'2016-04-21 00:00:00.0000000' AS DateTime2), N'An awful Idea', N'This is my awful idea.', 40, 1, N'8916e110-d052-4c76-bcad-0d175799458f', N'Open')
INSERT [dbo].[Post] ([PostId], [CategoryId], [BlogId], [PostDate], [PostTitle], [PostContent], [Votes], [IsActive], [AspNetUserId], [PostStatus]) VALUES (28, 1, 1, CAST(N'2016-04-26 11:59:10.5770000' AS DateTime2), N'oihoih', N'<p>oihoihoih</p>', 40, 1, N'8916e110-d052-4c76-bcad-0d175799458f', N'Open')
INSERT [dbo].[Post] ([PostId], [CategoryId], [BlogId], [PostDate], [PostTitle], [PostContent], [Votes], [IsActive], [AspNetUserId], [PostStatus]) VALUES (29, 1, 1, CAST(N'2016-04-26 12:03:31.5570000' AS DateTime2), N'gggg', N'<p>ssss</p>', 40, 1, N'8916e110-d052-4c76-bcad-0d175799458f', N'Open')
SET IDENTITY_INSERT [dbo].[Post] OFF
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_AspNetUsers] FOREIGN KEY([AspNetUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_AspNetUsers]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Blog]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Category]
GO
