USE [AnatoknightStudios]
GO
/****** Object:  StoredProcedure [dbo].[DeletePage]    Script Date: 5/4/2016 8:56:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeletePage]
	-- Add the parameters for the stored procedure here
@PageId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM StaticPage Where PageId = @PageId
END

GO
/****** Object:  StoredProcedure [dbo].[DeletePost]    Script Date: 5/4/2016 8:56:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kaz
-- Create date: 04/26/2016
-- Description:	delete Post
-- =============================================
CREATE PROCEDURE [dbo].[DeletePost] 
	-- Add the parameters for the stored procedure here
	@PostId int 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Post_Tag
	WHERE PostId = @PostId

	DELETE FROM Comment
	WHERE PostId = @PostId

	DELETE FROM PostImageUrls
	WHERE PostId = @PostId

	DELETE FROM Post
	WHERE PostId = @PostId
END


GO
