body {
    background-color:#2b78e4;
}
.admin a {
    color: limegreen !important;
}
.GrayDiv {
    background-color:DarkGray;    
}
.BlackDiv {
    background-color: black !important;  
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: lightgray;
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: whitesmoke;
}

